/* 
Google Fonts 

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap");

/* 
Basic Css 
 */
body {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-color: #999;
}

.theme-button {
  display: inline-block;
  padding: 14px 22px !important;
  background-color: #4f9cf9;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}
.theme-button:hover {
  color: #fff;
}
.theme-button img {
  margin-left: 10px;
}
.theme-button-two {
  color: #043873 !important;
  display: inline-block;
  padding: 14px 22px !important;
  background-color: #ffe492;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 35px !important;
}
.section-padding {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .section-padding {
    padding: 70px 0;
  }
}
@media (max-width: 991px) {
  .theme-text {
    text-align: center;
  }
}
.theme-text h3 {
  font-size: 56px;
  font-weight: 700;
  color: #212529;
}
@media (max-width: 991px) {
  .theme-text h3 {
    font-size: 30px;
  }
}
.theme-text p {
  color: #212529;
  margin-bottom: 30px;
}
.theme-text span {
  position: relative;
  z-index: 1;
}
.theme-text span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 52px;
  bottom: 0;
  left: 0;
  background-image: url(images/element.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* 
Header Css Start
 */
.header-area {
  padding: 16px 0;
  background-color: #043873;
}
.header-area .nav-link {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 14px 22px;
  margin-left: 20px;
}
.header-area .theme-button {
  margin-left: 24px;
}

@media (max-width: 991px) {
  .theme-button {
    width: 100%;
    margin-left: 0 !important;
    text-align: center;
  }
  .theme-button-two {
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
    text-align: center;
  }
  .header-area .nav-link {
    padding: 14px 0 !important;
    margin-left: 0 !important;
    position: relative;
  }
  .header-area .nav-link::after {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-area .navbar-toggler {
    border: 0;
    box-shadow: none;
  }
}
/* Hero Area Css Start */
.hero-area {
  background-image: url(images/hero-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-text h2 {
  font-size: 48px;
  font-weight: 700;
}
.hero-text .theme-button {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .hero-area {
    padding: 70px 0;
  }
  .hero-text {
    text-align: center;
  }
  .hero-text h2 {
    font-size: 32px;
  }
  .hero-text .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* Management Area Css Start */

.management-area {
  background-color: #fff;
}
.work-management {
  margin-top: 80px;
}
@media (max-width: 991px) {
  .management-area .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
  .work-management {
    margin-top: 50px;
  }
}
/* 
Extension Area Css Start
*/
.extension-area {
  background-color: #043873;
}
.extension-area .theme-text h3 {
  color: #fff;
}
.extension-area .theme-text p {
  color: #fff;
}
@media (max-width: 991px) {
  .extension-area .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* 
Customise Area Css Start
*/
.customise-area {
  background-color: #fff;
}
@media (max-width: 991px) {
  .customise-area .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* 
Your Work Area Css Start
*/
.your-work-area {
  background-color: #043873;
}
.your-work-area .theme-text h3 {
  color: #fff;
}
.your-work-area .theme-text span::after {
  background-image: url(images/element-two.png);
  background-size: contain;
  background-position: bottom;
}
.your-work-area .theme-text p {
  color: #fff;
}
@media (max-width: 991px) {
  .your-work-area .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* 
Your Data Area Css Start
*/

.your-data-area {
  background-color: #fff;
}
@media (max-width: 991px) {
  .your-data-area .theme-button {
    width: 80%;
    margin-bottom: 30px;
  }
}

/* 
Sponsor Area Css Start
*/
.sponsor-area {
  background-color: #fff;
}
.sponsor-area .theme-text {
  margin-bottom: 70px;
}
.single-sponsor img {
  height: 45px;
  width: auto;
}

@media (max-width: 991px) {
  .sponsor-area {
    padding: 80px 0 40px 0;
  }
  .single-sponsor {
    margin-bottom: 40px;
  }
}
